app-task-list {
    display: block;
    margin: 0 1rem;
}

.user-window {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.username {
    font-size: 15px;
}

button {
    width: 15%;
    margin-left: 10px;
    margin-right: 10px;
}